# Data Structures and Algorithms in python

# Bult-in Data Structures

List
    A list is defined using square brackets and holds data that is separated by commas. The list is mutable and ordered. It can contain a mix of different data types.

In [2]:
months = ['january','february','march','april','may','june','july','august','september','october','november','december']
print(months[0]) # print the elemment with index 0
print(months[0:7]) # all the elements from index 0 to 6.
months[0] = 'birthday' # exchange the value in index 0 with the word birthday
print(months)

january
['january', 'february', 'march', 'april', 'may', 'june', 'july']
['birthday', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']

Useful Functions for the list

In [3]:
# The sort() method is a built-in Python method that, by default, sorts the list in ascending order. 
# However, you’ll modify the order from ascending to descending by specifying the sorting criteria.
prices = [589.36, 237.81, 230.87, 463.98, 453.42] 
prices.sort() 
print(prices)

[230.87, 237.81, 453.42, 463.98, 589.36]

In [4]:
# type() function, returns the class type of an object.
fam = ["abs", 1.57, "egfrma", 1.768, "mom", 1.71, "dad"]
type(fam)

list

In [5]:
# The append() method will add some elements you enter to the end of the elements you specified.
months = ['January', 'February', 'March'] 
months.append('April') 
print(months)

['January', 'February', 'March', 'April']

In [6]:
# The extend() method increases the length of the list by the number of elements that are provided to the strategy,
# so if you’d prefer to add multiple elements to the list, you will be able to use this method.
list = [1, 2, 3] 
list.extend([4, 5, 6]) 
list

[1, 2, 3, 4, 5, 6]

In [7]:
# The index() method returns the primary appearance of the required value.
months = ['January', 'February', 'March', 'April', 'May'] 
months.index('March')

2

In [9]:
# The max() function will return the highest value from the inputted values.
prices = [589.36, 237.81, 230.87, 663.98, 453.42] 
price_max = max(prices) 
print(price_max)

663.98

In [12]:
# The min() function will return the rock bottom value from the inputted values.
months = ['January', 'February', 'March'] 
prices = [238.11, 237.81, 238.91]
# Identify min price 
min_price = min(prices) 
# Identify min price index 
min_index = prices.index(min_price) 
# Identify the month with min price 
min_month = months[min_index] 
min_month

'February'

In [14]:
# The len() function returns the number of elements in a specified list.
list_1 = [50.29] 
list_2 = [76.14, 89.64, 167.28] 
print('list_1 length is ', len(list_1)) 
print('list_2 length is ', len(list_2))

list_1 length is  1
list_2 length is  3

In [18]:
# The clear() method removes all the elements from a specified list and converts them to an empty list.
months = ['January', 'February', 'March', 'April', 'May'] 
months.clear()
months

[]

In [20]:
# The insert() method inserts the required value at the desired position.
fruits = ['apple', 'banana', 'cherry']
fruits.insert(2, "pineapple")
fruits

['apple', 'banana', 'pineapple', 'cherry']

In [21]:
# The count() method returns the number of elements with the desired value.
fruits = ['cherry', 'apple', 'cherry', 'banana', 'cherry']
fruits.count("cherry")

3

In [26]:
# The pop() method removes the element at the required position.
fruits = ['apple', 'banana', 'cherry', 'orange', 'pineapple']
print(fruits.pop(2) )#remove an item at the index 2
print(fruits)

cherry
['apple', 'banana', 'orange', 'pineapple']

In [28]:
# The remove() method removes the first occurrence of the element with the specified value.
fruits = ['apple', 'banana', 'cherry', 'orange', 'pineapple']
fruits.remove("banana")
fruits

['apple', 'cherry', 'orange', 'pineapple']

In [31]:
# The reverse() method reverses the order of the elements.
fruits = ['apple', 'banana', 'cherry', 'orange', 'pineapple']
fruits.reverse()
fruits

['pineapple', 'orange', 'cherry', 'banana', 'apple']

In [32]:
# The copy() method returns a copy of the specified list and makes the new list.
fruits = ['apple', 'banana', 'cherry', 'orange']
new_list = fruits.copy()
new_list

['apple', 'banana', 'cherry', 'orange']